<script src="/assets/application.js?body=1" type="text/javascript"></script>
<div>
<%= sortable "email" %>
<%= sortable "firstname" %>
<%= sortable "lastname" %>
<%= sortable "created_at", "Released" %>
</div>
<ul class="sortable" data-update-url="<%=sort_admins_url%>">
<%@admins.each do |admin|%>
 <%= content_tag_for :li, admin do%>
<span><%=admin.email%>|</span>
<span><%=admin.firstname%>|</span>
<span><%=admin.lastname%>|</span>
<span><%=admin.created_at%>|</span>
<%= link_to "Delete", "delete_admin/#{admin.id}", :class => 'delete' %>|
<%end%>
<%end%>
</ul>
<%= will_paginate @admins %>


