
<!Doctype html>
<html>
<head>

</head>
<body>


<%if @admins!=nil%>
<ul class="sortable" data-update-url="<%=sort_admins_url%>">
<%@admins.each do |admin|%>

<%= content_tag_for :li, admin do%>
<%=admin.email%>| <%=admin.type%><%= link_to "Delete", "delete_admin/#{admin.id}", :class => 'delete' %>|
<%end%>

<%end%>
</ul>
<%= will_paginate @admins %>
<%end%>



</body>
</html>
