
<%= form_for(@user, html: { id: "signup" })  do |f| %>
<h1>Start your registration right now</h1>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>

    <%= f.text_field :email,  placeholder:  "example@email.com", required:""%>
  </p>
  <p>
 
    <%= f.password_field :password,  placeholder:  "Choose your password", required:"" %>
  </p>
  <p>
  
    <%= f.password_field :password_confirmation,  placeholder:  "Confirm password", required:"" %>
  </p>
  <p class="button"><%= f.submit :class => "btn btn-lg btn-primary btn-block" %></p>
<% end %>
<a href="/log_in" class="text-center new-account">Sign in</a>



